<a href="https://colab.research.google.com/github/mukulsingh078968/iNeuron-Assignments/blob/main/Programming_Assignment_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.   Write a Python program to find sum of elements in list?

In [10]:
list = [1,2,3,4,5,6,7,8,9,10]
# Calculate sum of list 
sum=0
for i in list:
    sum+=i
print('Sum of List: ',sum)

Sum of List:  55

2.   Write a Python program to  Multiply all numbers in the list?

In [16]:

def multiply(numbers):  
    total = 1
    for x in numbers:
        total *= x  
    return total  
print(multiply((1,2,3,4,5,6,7,8,9,10)))

3628800

3.  Write a Python program to find smallest number in a list?

In [27]:
l = [1,2,3,4,5,6,7,8,9,10]
smallest = min(l)
print(f'Smallest number in the list is : {smallest}')

Smallest number in the list is : 1

**4.**     Write a Python program to find largest number in a list?

In [28]:
l=[1,2,3,4,5,6,7,8,9,10]
largest=max(l)
print(f'largest number in the list is : {largest}')

largest number in the list is : 10

.5      Write a Python program to find second largest number in a list?

In [31]:
l=[1,2,3,4,5,6,7,8,9,10]
second_largest= set(l)
second_largest.remove(max(l))
print(max(l))

10

6.     Write a Python program to find N largest elements from a list?

In [33]:
def max_num_in_list( list ):
    max = list[ 0 ]
    for a in list:
        if a > max:
            max = a
    return max
print(max_num_in_list([1,2,3,4,5,6,7,8,9,10]))

10

7.    Write a Python program to print even numbers in a list?

In [34]:
list1 = [1,2,3,4,5,6,7,8,9,10]
# iteration
for num in list1:
   # check
   if num % 2 == 0:
      print(num, end = " ")

2 4 6 8 10

**8.  Python program to print odd numbers in a List?**

In [48]:
list=[1,2,3,4,5,6,7,8,9,10]
for i in list:
  if i % 2 != 0:
    print(i,end =" ")

1 3 5 7 9

9   Write a Python program to Remove empty List from List?

In [56]:
l=[1,2,3,4,5,6,[],7,8,9]
l.remove([])

In [57]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

10.   Write a Python program to Cloning or Copying a list?

In [64]:
a = 4
b = a
a = 5
print(a,b) # 5,4
a = [1,2]
b = a
a.append(3)
print(a,b) # [1,2,3] [1,2,3]

5 4
[1, 2, 3] [1, 2, 3]

11.Write a Python program to Count occurrences of an element in a list?

In [69]:
l=[1,1,2,2,2,2,1,2,3,4,5,6,7,8,9,10]
l.count(2)

5